[Unit]
Description=A Webserver for the Norwood Child Safety Councillors (NCSC)
After=network.target

[Service]
User=your_username
WorkingDirectory=/path/to/script/directory
ExecStart=/usr/bin/env bash /path/to/script.sh

[Install]
WantedBy=multi-user.target
